[Unit]
Description=Días Sin Accidentes - Development
After=network.target

[Service]
Type=simple
User=tristan
Group=tristan
WorkingDirectory=/home/tristan/dias_sin_accidentes
Environment=NODE_ENV=development
Environment=PORT=3001
Environment=ADMIN_PASSWORD=dev
Environment=ADMIN_PASSWORD=dev
Environment=DATA_FILE_PATH=/home/tristan/dias_sin_accidentes/data/data.test.json
Environment=CERT_PATH=/home/tristan/dias_sin_accidentes/Certs/dev/Certificate.pem
Environment=KEY_PATH=/home/tristan/dias_sin_accidentes/Certs/dev/Private-key.pem
Environment=CA_PATH=/home/tristan/dias_sin_accidentes/Certs/dev/Certificate-authority-bundle.pem
ExecStart=/usr/bin/node src/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dias-sin-accidentes-dev

[Install]
WantedBy=multi-user.target
