[Unit]
Description=Días Sin Accidentes - Production
After=network.target

[Service]
Type=simple
User=tristan
Group=tristan
WorkingDirectory=/home/tristan/dias_sin_accidentes
Environment=NODE_ENV=production
Environment=PORT=3002
Environment=ADMIN_PASSWORD=prod
Environment=DATA_FILE_PATH=/home/tristan/dias_sin_accidentes/data/data.prod.json
Environment=CERT_PATH=/home/tristan/dias_sin_accidentes/Certs/prod/Certificate.pem
Environment=KEY_PATH=/home/tristan/dias_sin_accidentes/Certs/prod/Private-key.pem
Environment=CA_PATH=/home/tristan/dias_sin_accidentes/Certs/prod/Certificate-authority-bundle.pem
Environment=ALLOW_HTTP_IN_PRODUCTION=1
ExecStart=/usr/bin/node src/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dias-sin-accidentes-prod

[Install]
WantedBy=multi-user.target
